@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>Today's Featured Article:</h2>
<div class="container-fluid" style="background-color: white; border: 1px solid #e2e4e5; border-radius: 5px; margin-bottom: 10px;">
    <div class="row">
        <div class="col-sm-3">
            <div class="row" style="padding-left: 35px; padding-top: 20px;">
                <b>placeholder</b>
            </div>
            <div class="row" style="margin-top: 10px; padding-left: 35px;">
                0/0/0
            </div>
        </div>
        <div class="col-sm-9"></div>
    </div>
    <div class="row text-wrap" style="font-size: 18px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
        <div class="col-sm-12">
            <b>placeholder</b>
        </div>
    </div>
    <div class="row text-wrap" style="padding-bottom: 20px; font-size: 18px; margin-bottom: 10px; padding-left: 20px; padding-right: 20px;">
        <div class="col-sm-12">
            placeholder
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="background-color: white;">
        <div class="col-sm-12">
            <h3 style="padding-top: 20px; padding-left: 20px;">
                About BrainWiki
            </h3>
            <p style="padding-bottom: 20px; font-size:18px; padding-left:20px; padding-right:20px;">
                <br />We aim to provide a platform that will allow everyone and anyone, regardless of your proficiency,
                to learn and share about cybersecurity related topics.
            </p>
            @*<p style="font-size:1vw; font-style:italic;">Create an account with us! or just feel free to browse around :) </p>*@
        </div>
    </div>

</div>
<footer>

</footer>
