@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Phillip Articles</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div>
    <h4>
        Here at Phillip Articles,
        <br />we aim to provide a platform that will allow everyone and anyone, regardless of your proficiency, 
        <br />to learn and share about cybersecurity related topics.
    </h4>
    <p style="font-size:1vw; font-style:italic;">Create an account with us! or just feel free to browse around :) </p>
</div>
<footer>
    This website was created in regards to the NP CSF Secure Development Software Module Assignment.
    <br />Created by:
    <br />Nicholas Boey
    <br />Nicholas Chng
    <br />Nicolas Teo
    <br />Dexter Low
    <br />
    <br />Special thanks to our lecturer Mr. Mohamed Saifulamri Omar in the creation of this website!
</footer>