@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    @*<h1 class="display-4">Welcome to Phillip Articles</h1>*@
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row" style="background-color: beige;">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <h3 style="padding-top: 2em;">
                    About BrainWiki
                </h3>
                <p style="padding-bottom: 2em; font-size:18px;">
                    <br />We aim to provide a platform that will allow everyone and anyone, regardless of your proficiency,
                    to learn and share about cybersecurity related topics.
                </p>
                @*<p style="font-size:1vw; font-style:italic;">Create an account with us! or just feel free to browse around :) </p>*@
            </div>
            <div class="col-sm-5"></div>
        </div>
    </div>
</div>
<footer>
    
</footer>
